body {
    margin: 0;
}

header {
    display: flex;
    padding: 2%;
}

.banner {
    height: 100px;
    margin-left :200px;
    margin-right :auto;
}

.banner:not(:last-child) {
    margin-left : 40%;  
}

.link{
    display: flex;
    color: #8b4c5f;
    text-decoration: none; 
    margin-left :auto;
    margin-right : 350px;
    margin-top : 3.8%;
}

.link:not(:last-child) {
    margin-right: -20%; /* Ajuster la marge droite pour tous les liens sauf le dernier */
}

.container {
    display: flex;
    overflow: hidden;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

/*.container img {
    width: 100%;
    transition: transform 0.5s ease-in-out;
}