
body {
    margin: 0;
}

header {
    display: flex;
    padding: 2%;
}

.banner {
    height: 100px;
}

.select {
    text-align: left;
}

.lien{
    color: rgb(255, 246, 246);
    text-decoration: none;
}